{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">

    <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      BWCA Adventure Tours <i class="fas fa-angle-double-right"></i>
      </a>
    </nav>
   <img src="../images/bannerlogo.png" id="logo">
</div>

{{!-- Current Date Weather Bar --}}
<div class="container-fluid text-center" id="weathertop">
    <div class="row">
      <div class="col-md-12">
        <p class="list-inline-item"><i class="fas fa-sun"></i> Today's Weather in the BWCA:</p>
        <div class="list-inline-item" id="day0Date"></div>
        <div class="list-inline-item" id="day0Day"></div>
        <div class="list-inline-item" id="day0Max"></div>
        <div class="list-inline-item" id="day0Min"></div>
        <div class="list-inline-item" id="day0Cond"></div>
      </div>
    </div>
</div>

{{!-- Trip discription cards --}}

<h2 class="tripheader text-center" style="color:#c49e6b;">Our Trips</h2>
  <div class="container-fluid">
        {{!-- Card one --}}
        <div class="card-group tripcards">
          <div class="card">
            <img class="card-img-top" src="../images/hiking.jpg" alt="Card image cap">
            <div class="card-body scroll">
              <h5 class="card-title" id="hiking">Hiking Tours</h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#" class="card-link" style="color:#c49e6b;">Book Trip</a>
            </div>
            {{!-- Card two --}}
          </div>
          <div class="card">
            <img class="card-img-top" src="../images/camping.jpg" alt="Card image cap">
            <div class="card-body scroll">
              <h5 class="card-title" id="mountainBiking">Mountain Biking</h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#" class="card-link" style="color:#c49e6b;">Book Trip</a>
          </div>
        </div>
        {{!-- Card three --}}
        <div class="card">
          <img class="card-img-top" src="../images/camping.jpg" alt="Card image cap">
          <div class="card-body scroll">
            <h5 class="card-title" id="camping">Camping</h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a href="#" class="card-link" style="color:#c49e6b;">Plan a Trip</a>
        </div>
      </div>
      {{!-- Card three --}}
      <div class="card">
        <img class="card-img-top" src="../images/biking.jpg" alt="Card image cap">
        <div class="card-body scroll">
          <h5 class="card-title"id="camping">Camping</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link" style="color:#c49e6b;">Plan a Trip</a>
        </div>

      </div>
    </div>

{{!-- Write Review Button --}}
  <div class="row">
    <div class="col-md-12 text-center">

    <button type="button" class="btn btn-lg" id="reviewbutton"><a href="/form">Write Trip Review</a></button>

    </div>
  </div><hr>

{{!-- Review Section --}}
  <div class="row" id="hc-reviews">
    <div class="col-md-4">
      <h3>Review Title</h3>
      <p>Review discription Paragraph here.</p>
      {{!-- <a href="#" class="card-link">D3 rating graph here</a> --}}
      <div id="viz" class="col-sm-4"></div>
    </div>

    <div class="col-md-4">
      <h3>Review Title</h3>
      <p>Review discription Paragraph here.</p>
      <a href="#" class="card-link">D3 rating graph here</a>
    </div>

    <div class="col-md-4">
      <h3>Review Title</h3>
      <p>Review discription Paragraph here.</p>
      <a href="#" class="card-link">D3 rating graph here</a>
    </div>


    <ul id="review" class="list-group">
      {{#each review}}
      <li>
        {{this.id}} 
        {{this.comments}} 
        {{this.review_ratingTotal}} 
        {{this.firstName}}
        {{createdAt}}
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- container --}}
</div>

<div class="container-fluid text-center" id="weather">
    <div class="row">
        <div class="col-md-12 weatherdays" id="">
          <h3 class="list-inline-item"><i class="fas fa-sun"></i> Next six days in the BWCA:</h3><br>
          <div class="list-inline-item" id="day1Date"></div>
          <div class="list-inline-item" id="day1Day"></div>
          <div class="list-inline-item" id="day1Max"></div>
          <div class="list-inline-item" id="day1Min"></div>
          <div class="list-inline-item" id="day1Cond"></div>
        </div>

        <div class="col-md-12 weatherdays" id="">
          <div class="list-inline-item" id="day2Date"></div>
          <div class="list-inline-item" id="day2Day"></div>
          <div class="list-inline-item" id="day2Max"></div>
          <div class="list-inline-item" id="day2Min"></div>
          <div class="list-inline-item" id="day2Cond"></div>
        </div>
    
        <div class="col-md-12 weatherdays" id="">
          <div class="list-inline-item" id="day3Date"></div>
          <div class="list-inline-item" id="day3Day"></div>
          <div class="list-inline-item" id="day3Max"></div>
          <div class="list-inline-item" id="day3Min"></div>
          <div class="list-inline-item" id="day3Cond"></div>
        </div>

        <div class="col-md-12 weatherdays" id="">
          <div class="list-inline-item" id="day4Date"></div>
          <div class="list-inline-item" id="day4Day"></div>
          <div class="list-inline-item" id="day4Max"></div>
          <div class="list-inline-item" id="day4Min"></div>
          <div class="list-inline-item" id="day4Cond"></div>
        </div>

        <div class="col-md-12 weatherdays" id="">
          <div class="list-inline-item" id="day5Date"></div>
          <div class="list-inline-item" id="day5Day"></div>
          <div class="list-inline-item" id="day5Max"></div>
          <div class="list-inline-item" id="day5Min"></div>
          <div class="list-inline-item" id="day5Cond"></div>
        </div>

    </div>
  </div>

<!--[ footer ] -->
<div id="footer">
    <div class="container">
        <p class="footer-block">Team CodeCamp-Project 2 // Team NoVactions - Meng, Tunji, Tashi + Lindsay  <i class="fas fa-child"></i><i class="fas fa-child"></i><i class="fas fa-child"></i><i class="fas fa-child"></i></p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://d3js.org/d3.v5.min.js" type="text/JavaScript"></script> 
<script src="/js/trips.js"></script>
<!-- D3 Library script -->
<script src="/js/script.js"></script>
<script src="/js/index.js"></script>
<!-- Weather API -->
<script src="/js/weather.js"></script>