{{!-- Jumbotron --}}
<div class="jumbotron text-center">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
</div>

{{!-- Trip discription cards --}}
<div class="container">
  <h2 class="tripheader text-center">Our Trips</h2>
{{!-- Card one --}}
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../images/trip-placeholder.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hiking Tours</h5>
        <p class="card-text">Hiking Trip discription here</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Book Trip</a>
        <a href="#" class="card-link">Write Review</a>
      </div>
{{!-- Card two --}}
    </div>
    <div class="card">
      <img class="card-img-top" src="../images/trip-placeholder.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Guided Camping Tours</h5>
        <p class="card-text">Guided Camping discription here</p>
      </div>
      <div class="card-footer">
       <a href="#" class="card-link">Book Trip</a>
       <a href="#" class="card-link">Write Review</a>
      </div>
    </div>
{{!-- Card three --}}
    <div class="card">
      <img class="card-img-top" src="../images/trip-placeholder.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Boat Tours</h5>
        <p class="card-text">Boat tour discription here</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Book Trip</a>
        <a href="#" class="card-link">Write Review</a>
      </div>
    </div>
  </div>

  <h2 class="reviews text-center">Reviews</h2>
  <div class="row">
      <div class="col-3-sm">
        <h3>Review Title</h3>
        <p>Review discription Paragraph here.</p>
        <a href="#" class="card-link">D3 rating graph here</a>
      </div>

      <div class="col-3-sm">
        <h3>Review Title</h3>
        <p>Review discription Paragraph here.</p>
        <a href="#" class="card-link">D3 rating graph here</a>
      </div>

      <div class="col-3-sm">
        <h3>Review Title</h3>
        <p>Review discription Paragraph here.</p>
        <a href="#" class="card-link">D3 rating graph here</a>
      </div>

      <div class="col-3-sm">
        <h3>Review Title</h3>
        <p>Review discription Paragraph here.</p>
        <a href="#" class="card-link">D3 rating graph here</a>
      </div>

       <ul id="example-list" class="list-group">
          {{#each review}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
          </li>
          {{/each}}
        </ul>
  </div>
  {{!-- container --}}
</div>






{{!-- ================================================================================================================== --}}
{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
